html,body{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

p{
    font-size: 500px;
    color: blue;
    border: 5px dashed; 
}


